.gradle/
build/
**/build/
!gradle/wrapper/gradle-wrapper.jar
local.properties
*.jks
*.keystore
*.log
.idea/
*.iml
*.ipr
*.iws
out/
*.bak
*.swp
*.tmp
*.temp
lint/intermediates/
lint/generated/
.DS_Store
Thumbs.db
